
*{
    margin: 0;
    padding: 0;
}

.trans{
        transition:  transform 0.5s linear;
}
.trans:hover{
         transform: scale(1.2);
}
/* sign-in */
footer{
    color:#f4e6d6;
    background-color: #103cbe;
   }
   .login{
    background-color: blue;
    color: #f4e6d6;
   }
.login:hover{
    background-color: #103cbe;
    color:white;
}
/* sign-in */

/* login */
.box-area{
    width: 1050px;
    /* width: 980px; */
    margin: 0 10px;
}


/* right box  */
.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

/* container */
.main{
    background: url(./image/bg2.jpg)no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    /* padding: 100px 20px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* job  */
 .job-card {
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
      border: none;
    }

        .card-img-top {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
.job-tag {
      background: #f1f1f1;
      border-radius: 5px;
      padding: 4px 10px;
      font-size: 14px;
      margin-right: 5px;
      display: inline-block;
      margin-bottom: 5px;
    }
